
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Entornos{% endblock %}</h1>
{% endblock %}

{% block content %}
  <ol class="lista-peines">
    {% for peine, pisos in peines.items() %}
      <li>
        <h1>Peine: {{peine}} </h1>
        <ol class="lista-pisos">
          {% for piso, entornos in pisos.items()%}
            <li>
              <h2>Piso: {{piso}}</h2>
              <ol class="lista-entornos">
                {% for entorno in entornos %}
                  <li>
                  </li>                      <h2> <a class="action" href="{{ url_for('item.update', nombre=item['nombre']) }}">{{entorno["nombre"]}}</a></h2>

                {% endfor %}  
                </ol>
            </li>
          {% endfor %}  
        </ol>
      </li>
    {% endfor %}  
  </ol>
{% endblock %}

